extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance for detail
  else  
    - let vehicalsid = toShow._id
    - let type = toShow.type
    - let milage = toShow.milage
    - let price = toShow.price
    div
      div.row
        div(class='vehicalsAttr mr-3') vehicals ID is:
        div #{vehicalsid}
      div.row
        div(class='vehicalsAttr mr-3') vehicals type is:
        div #{type}
      div.row
        div(class='vehicalsAttr mr-3') vehicals milage is:
        div #{milage}
      div.row
        div(class='vehicalsAttr mr-3') vehicals price is:
        div #{price}
